.App {
  text-align: center;
  background-color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#title {
  font-family: 'MedievalSharp', cursive;
  font-size: 2.5em;
  font-weight: bolder;
}

#intro {
  margin-left: 2em;
}

#container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 50px;
}

#createTable {
  background-color: white;
  color: black;
  width: 400px;
  text-align: left;
  font-size: calc(10px + 2vmin);
  margin-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: .25rem;
}

#createTitle {
  text-align: center;
}

#charTable {
  background-color: white;
  max-width: 500px;
  border-radius: .25rem;
}

#display {
  color: black;
  list-style: none;
  padding: 10px;
}

#image {
  max-width: 400px;
}

#cardImage {
  max-height: 200px;
}

#spacer {
  width: 10px;
}

#cards {
  margin: 10px;
}

#editModal {
  margin-top: 75px;
}

#bottomSpacer {
  height: 50px;
}

#cancel {
  margin-left: 10px;
  margin-top: 10px;
}
#edit {
  margin-top: 10px;
}