.App {
  text-align: center;
  background-color: #282c34;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 50px;
}

#createTable {
  background-color: whitesmoke;
  color: black;
  width: 400px;
  text-align: left;
  font-size: calc(10px + 2vmin);
  margin-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#createTitle {
  text-align: center;
}

#charTable {
  background-color: whitesmoke;
  max-width: 500px;
}

#display {
  color: black;
  list-style: none;
}